.gradientmain {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))

    
    }


    .maindivforprofile{

        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .formdiv {

        max-width: 35vw;
    }


    .forpic{

        width: 25vw;
        margin: 10px;

    }

    .form-control{

 
        width: 90%;
        margin-left: 10px;
    }
    .form-label{

        display: flex;
        margin: 15px;


    }

    .orderdiv{

        margin: 10px;
    }

  

    .noorders{

        font-size: 300%;
        margin: 4vw;
    }

    @media only screen and (max-width: 600px){


        .maindivforprofile{
            display: flex;
            flex-direction: column;border: 2px solid green;
         
        }
        .forpic{

            width: 98vw;
            margin: 1vw;
        }

        .formdiv {

            max-width: 85vw;
            margin-left: 5vw;
        }
    }